@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pumpkin Story";
  src: url("../public/pumpkin-font/PumpkinStory-vmKrM.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADELIA";
  src: url("../public/adelia-font/ADELIA.otf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "SF Pro";
  src: url("../public/sf/SF-Pro.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Euclid Circular A Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Euclid Circular A Regular"),
    url("../public/euclid-circular-font/euclid-regular.woff") format("woff");
}
