@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pumpkin Story";
  src: url("../public/pumpkin-font/PumpkinStory-vmKrM.ttf");
  font-style: normal;
}

@font-face {
  font-family: "ADELIA";
  src: url("../public/adelia-font/ADELIA.otf");
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../public/sf/SF-Pro.ttf");
  font-style: normal;
}
